<div class="social-font" style="margin-left: 50px;">
  <a href="{{ site.owner.weibo }}" target="_blank" class="icon-weibo" title="新浪微博"></a>
  <a href="{{ site.owner.github }}" target="_blank" class="icon-github" title="GitHub"></a>
  <a href="{{ site.owner.stackoverflow }}" target="_blank" class="icon-stack-overflow" title="StackOverflow"></a>
  <a href="{{ site.url }}/rss.xml" target="_blank" class="" title="Rss">
    <i class="fa fa-fw fa-rss"></i>
  </a>
  <a href="mailto:{{ site.owner.email }}" target="_blank" class="icon-email" title="Email"></a>
</div>
