<!-- Navigation Start -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      {% if page.section-type == "index" %}
        <a class="navbar-brand page-scroll" href="{{ site.home_url }}" target="_blank" title="点击返回首页">
      {% else %}
        <!--<a class="navbar-brand" href="{{site.url}}/" title="">-->
        <a class="navbar-brand page-scroll" href="{{ site.home_url }}" target="_blank" title="点击返回首页">
      {% endif %}
          <div style="color:#fff;">
            {% if site.black-favicon %}
              <img src="{{site.url}}{{ site.black-favicon }}" alt="">
            {% endif %}
            <img src="{{site.url}}/images/lingfeng.png" alt="" style="width: 100px;margin-top: -4px;">
            <!--{{ site.title }}-->
          </div>
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse" style="">
      <!-- 搜索框 -->
      {% include search.html %}
      <ul class="nav navbar-nav">
          <!-- Scroll to section for each page in index -->
          {% for p in site.pages_list %}
              <li>
                <a class="page-scroll" href="{{ site.url }}/{{ p[1] }}" style="color:#fff;" > {{p[0]}} </a>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- Navigation End -->
