<div id="tools-id" style="display: none;">
  <a id="totop" title="返回顶部" class="backtop iconfont circle" style="display: inline;" data-spm-anchor-id="a313x.7781069.0.0">
    <img src="{{ site.url }}/images/scrollup.png"></img>
  </a>
  <div class="col-md-3 col-sm-6 col-xs-6 text-center" style="display: block;opacity: 1;position: fixed;bottom: 0em;right: -8em;cursor: pointer;">
   <input type="text" title="阅读百分比" class="knob" value="0" data-thickness="0.1" data-width="40" data-height="90" data-fgColor="#00C0EF">
  </div>
</div>
