<div id="tools-id" style="display: none;">
  <a id="totop" title="返回顶部" class="backtop iconfont circle" style="display: inline;" data-spm-anchor-id="a313x.7781069.0.0">
    <img src="{{ site.url }}/images/scrollup.png"></img>
  </a>
  <div class="" title="阅读百分比" style="display: block;opacity: 1;position: fixed;bottom: 40px;right: 28px;cursor: pointer;">
   <input type="text" class="knob" style="cursor: pointer;" value="0" data-thickness="0.1" data-width="40" data-height="40" data-fgColor="#00C0EF">
  </div>
</div>
