---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
//@import "syntax";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

/**
 * navbar 样式
 */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba($font-color, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $navbar-sm-background-color;

    /* Fix height limit and scroll for small screen and many items menu */
    max-height: 100%;
    overflow-y: auto;

    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: $navbar-color;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $navbar-color;
        @if $header-text-shadow{
            //text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        }
    }
    .nav {
        text-align: center;
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    /* color: rgba($font-color, 0.8); */
                    outline: none;
                    background-color: rgba($font-color, 0.3);
                }
                &:focus,
                &:active {
                    outline: none;
                      background-color: rgba($font-color, 0.3);
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba($font-color, 0.3);
                    &:hover {
                        color: $navbar-color;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 10px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: $navbar-lg-background;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: $navbar-lg-collapse-background-color;
            border-bottom: 1px solid rgba($font-color, 0.3);
        }
    }
}
/** 首页search */
.search-input {
  color: #FFFFFF;
  font-size: 10px;
  width: 180px;
  height: 28px;
  padding: 0px 35px 0px 10px;
  border:2px #ccc solid;
  background-color: transparent;
  border-radius:40px;//圆角
  outline: none;//去掉选中后的蓝边


}
.search-input:hover {
  //border:2px #6dbbff solid;
}
.search-input-icon {
  background-image:url({{ site.url }}/images/YY_search_2.png);
  background-repeat:no-repeat;
  background-position-y: 50%;
  background-position-x: 3%;
}


/** index comments css */
.comments-count {
    color: #d6d6d6;
    margin-top: .3em;
    padding: .5em 0;
    float: right;
}
.comments-count span:before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f075"
}
/*@media only screen and (max-width: 568px) {
    .comments-count {
        float: left
    }
}*/
.comments-count-link {
    padding: .5em;
    margin: 0 .3em;
}
.comments-count-link:hover {
    color: #fff !important;
    background: #B4B4B4
}


/** 返回顶部css */
.backtop:hover {
  background-color: #999999;
  color: #fff;
  text-decoration: none;
}
.backtop {
  display: none;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  position: fixed;
  _position: absolute;
  right: 28px;
  bottom: 100px;
  _bottom: auto;
  cursor: pointer;
  font-size: 16px;
  color: #9c9c9c;
  background: whitesmoke;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
}
/*svg*/
.loveicon {
  width: 300px;
  height: 300px;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.loveicon:hover {
  width: 300px;
  height: 300px;
}

.tools-read {
    @media(max-width:768px) {
      right: -107px;
    }
}


/** css画圆 */
.circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.max-width-hide {
    @media(max-width:768px) {
        display: none !important;
    }
}


/** */

.social-font {

}

@media only screen and (min-width: 568px) {
    .social-font {

    }
}

@media only screen and (min-width: 768px) {
    .social-font {

    }
}

.social-font a {
    //float: left;
    //display: block;
    width: 14%;
    color: #000;
    font-size: 185%;
    padding: .5em;
    text-decoration:none;
}

@media only screen and (min-width: 1024px) {
    .social-font a {
        padding: .3em
    }
}

.social-font a:hover:before {
    color: #2ca6cb;
    text-decoration:none;
}
.social-font a:hover {
    text-decoration:none;
}

.icon-weibo:before, .icon-github:before, .icon-twitter:before, .icon-facebook:before, .icon-stack-overflow:before, .icon-email:before, .icon-google_plus:before, .icon-linkedin:before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-weibo:before {
    content: "\f18a"
}

.icon-github:before {
    content: "\f09b"
}

.icon-twitter:before {
    content: "\f099"
}

.icon-facebook:before {
    content: "\f09a"
}

.icon-rss:before {
    content: "\f143"
}

.icon-stack-overflow:before {
    content: "\f16c"
}

.icon-email:before {
    content: "\f003"
}

.icon-google_plus:before {
    content: "\f0d5"
}

.icon-linkedin:before {
    content: "\f08c"
}

.icon-douban:before {
    font-family: "fontdiao";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f111"
}

.icon-zhihu:before {
    font-family: "fontdiao";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f142"
}



/* for retive margin with fixed html header nav */
.anchor {
	padding-top: 51px;
}

/* 隐藏元素 */
.elementHide {
	display: none;
}

/* kramdown custom table style*/
.mytablestyle {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;

  > table {
      display: block;
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all;
  }

  > table, th {
      font-weight: bold
  }

  > table, th, td {
      padding: 6px 13px;
      border: 1px solid #ddd
  }

  > table, tr {
      background-color: #fff;
      border-top: 1px solid #ccc
  }

  > table, tr:nth-child(2n) {
      background-color: #f8f8f8
  }
}


.search-font-color {
  li {
    a {
      color:#969696;
    }
  }
}



/* series css */
.seriesNote {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
  font-family: Lato,"Microsoft YaHei",sans-serif;
  border-top: 1px dashed #000000;
  padding-top: 20px;

  ul {
    li {
      line-height: 1.8em;
      border-left: 2px solid #ffffff;
      padding-left: 0.5rem;
      -webkit-transition: 0.5s;
      transition: 0.5s;

      a {
        color: #00A19E;
        text-decoration:none;
      }

    }

    li:hover {
      border-left-color: #22C3AA
    }
  }

}

.series-not-self {
  list-style-type: disc;
}

.series-self {
  list-style-type: circle;
}

/* context h1,h2,h3,h4,h5,h6 */
.context-title {

  h1 {
       padding-bottom: 0.3em;
       font-size: 2.25em;
       line-height: 1.2;
       border-bottom: 1px solid #eee;
       margin-top: 1em;
       margin-bottom: 16px;
       font-weight: bold;
  }
  h2 {
       padding-bottom: 0.3em;
       font-size: 1.75em;
       line-height: 1.225;
       border-bottom: 1px solid #eee;
       margin-top: 1em;
       margin-bottom: 16px;
       font-weight: bold;
  }

  h3 {
       font-size: 1.5em;
       line-height: 1.43;
       margin-top: 1em;
       margin-bottom: 16px;
       font-weight: bold;
  }
  h4 {
      font-size: 1.25em;
      margin-top: 1em;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 1.4;
  }
  h5 {
      font-size: 1em;
      margin-top: 1em;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 1.4;
  }
  h6 {
      font-size: 1em;
      color: #777;
      margin-top: 1em;
      margin-bottom: 16px;
      font-weight: bold;
      line-height: 1.4;
  }
}


.highlighter-rouge {
  > pre {
    padding:0px;
  }
}

.highlight {
  > pre {
    padding:0px;
  }
}

/*
pre {
  counter-reset: lines;
}
pre .line {
  counter-increment: lines;
}
pre .line::before {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -o-user-select: none;
  user-select: none;

  content: counter(lines); text-align: right;
  display: inline-block; width: 2em;
  padding-right: 0.5em; margin-right: 0.5em;
  color: #BBB; border-right: solid 1px;
}
*/




/*
//显示行号
pre {
    position: relative;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #C3CCD0;
    background: #FFF;
    overflow: hidden;
}

code {
  display: block;
  padding: 12px 24px;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  font-size: 0.8em;
}

code.has-numbering {
    margin-left: 21px;
}

.pre-numbering {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 12px 2px 12px 0;
    border-right: 1px solid #C3CCD0;
    border-radius: 3px 0 0 3px;
    background-color: #EEE;
    text-align: right;
    font-family: Menlo, monospace;
    font-size: 0.8em;
    color: #AAA;
}
*/
