---
sitemap: false
---

/*
 *
 *  HPSTR
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "mixins";
@import "reset";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
@import "site";
@import "typography";
@import "syntax";
@import "coderay";
@import "gist";
@import "grid";
@import "elements";
@import "animations";
@import "dl-menu";
@import "page";

/**
 * navbar 样式
 */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba($font-color, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $navbar-sm-background-color;

    /* Fix height limit and scroll for small screen and many items menu */
    max-height: 100%;
    overflow-y: auto;

    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: $navbar-color;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
    }
    a {
        color: $navbar-color;
        @if $header-text-shadow{
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
        }
    }
    .nav {
        text-align: center;
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    /* color: rgba($font-color, 0.8); */
                    outline: none;
                    background-color: rgba($font-color, 0.3);
                }
                &:focus,
                &:active {
                    outline: none;
                      background-color: rgba($font-color, 0.3);
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba($font-color, 0.3);
                    &:hover {
                        color: $navbar-color;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 10px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: $navbar-lg-background;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: $navbar-lg-collapse-background-color;
            border-bottom: 1px solid rgba($font-color, 0.3);
        }
    }
}

.search-input {
  color: #7e7e7e;
  font-size: 10px;
  width: 180px;
  height: 28px;
  padding: 0px 35px 0px 10px;
  //border: 0;
  //background: url(../../images/search.png) no-repeat transparent;
  border:2px #ccc solid;
  border-radius:10px;

  background-color:#eee;
}


/** index comments css */
.comments-count {
    color: #d6d6d6;
    margin-top: .3em;
    padding: .5em 0;
    float: right;
}
.comments-count span:before {
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f075"
}
@media only screen and (max-width: 568px) {
    .comments-count {
        float: left
    }
}
.comments-count-link {
    padding: .5em;
    margin: 0 .3em;
}
.comments-count-link:hover {
    color: #fff !important;
    background: #B4B4B4
}
